html {
  font-size: 100%;
  color: blue;
  animation-duration: 2s;
}

body {
  background-color: whitesmoke;
}

button {
  -webkit-appearance: none;
  background-color: deepskyblue;
  font-size: 1rem;
}

button:focus {
  outline: 1px dotted;
  background-color: blue;
}

.another-love {
  color: orange;
}
