html {
  font-size: 100%;
  color: blue;
  animation-duration: 2s;
}

body {
  background-color: whitesmoke;
}

button {
  -webkit-appearance: none;
  background-color: deepskyblue; 
}

button:focus {
  outline: 1px dotted;
  background-color: blue;
}
